In [3]:
import pandas as pd

In [4]:
carbondata = pd.read_csv('C:/Users/sjvar/dev/datasets/Carbon_CO2_Emissions_by_Country.csv')
carbondata

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]

In [5]:
carbondata.shape

(5677, 5)

In [6]:
carbondata.shape?

Type:        property
String form: <property object at 0x00000191E9BE8BD0>
Docstring:
Return a tuple representing the dimensionality of the DataFrame.

See Also
--------
ndarray.shape : Tuple of array dimensions.

Examples
--------
>>> df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
>>> df.shape
(2, 2)

>>> df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4],
...                    'col3': [5, 6]})
>>> df.shape
(2, 3)

In [7]:
carbondata.head()

       Country Region        Date  Kilotons of Co2  Metric Tons Per Capita
0  Afghanistan   Asia  01-01-2011           8930.0                    0.31
1  Afghanistan   Asia  01-01-2012           8080.0                    0.27
2  Afghanistan   Asia  01-01-2010           7110.0                    0.25
3  Afghanistan   Asia  01-01-2019           6080.0                    0.16
4  Afghanistan   Asia  01-01-2018           6070.0                    0.17

In [8]:
carbondata.tail()

       Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
5672  Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673  Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674  Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675  Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676  Zimbabwe  Africa  01-01-2008           7600.0                    0.61

In [9]:
carbondata.describe()

       Kilotons of Co2  Metric Tons Per Capita
count     5.677000e+03             5677.000000
mean      1.412292e+05                4.325505
std       6.491258e+05                5.503834
min       0.000000e+00                0.000000
25%       1.380000e+03                0.570000
50%       9.170000e+03                2.360000
75%       5.848000e+04                6.340000
max       1.070722e+07               47.650000

In [10]:
carbondata.sample(5)

      Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
1597  Estonia  Europe  01-01-2014          17940.0                   13.65
2749  Lebanon    Asia  01-01-2000          15670.0                    3.63
115   Andorra  Europe  01-01-1994            410.0                    6.72
2201  Iceland  Europe  01-01-2009           2110.0                    6.62
1797    Gabon  Africa  01-01-1990           4100.0                    4.17

In [11]:
carbondata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5677 entries, 0 to 5676
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 5677 non-null   object
 1   Region                  5677 non-null   object
 2   Date                    5677 non-null   object
 3   Kilotons of Co2         5677 non-null   float64
 4   Metric Tons Per Capita  5677 non-null   float64
dtypes: float64(2), object(3)
memory usage: 221.9+ KB

In [12]:
pd.get_option('display.max_rows')

60

In [13]:
pd.get_option('display.max_rows', None)
carbondata

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]

In [14]:
pd.get_option('display.max_rows', 60)
carbondata

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]

In [15]:
pd.set_option('display.max_rows', 60)
carbondata

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]

In [16]:
pd.get_option("display.max_columns")

20

In [17]:
pd.get_option("display.width")

80

In [18]:
pd.set_option("display.width", 120)

In [19]:
carbondata

          Country  Region        Date  Kilotons of Co2  Metric Tons Per Capita
0     Afghanistan    Asia  01-01-2011           8930.0                    0.31
1     Afghanistan    Asia  01-01-2012           8080.0                    0.27
2     Afghanistan    Asia  01-01-2010           7110.0                    0.25
3     Afghanistan    Asia  01-01-2019           6080.0                    0.16
4     Afghanistan    Asia  01-01-2018           6070.0                    0.17
...           ...     ...         ...              ...                     ...
5672     Zimbabwe  Africa  01-01-2004           9770.0                    0.80
5673     Zimbabwe  Africa  01-01-2007           9760.0                    0.78
5674     Zimbabwe  Africa  01-01-2010           9600.0                    0.75
5675     Zimbabwe  Africa  01-01-2009           7750.0                    0.61
5676     Zimbabwe  Africa  01-01-2008           7600.0                    0.61

[5677 rows x 5 columns]

In [20]:
type(carbondata)

pandas.core.frame.DataFrame

In [21]:
type(carbondata["Region"])

pandas.core.series.Series

In [22]:
carbondata.Region

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
5672    Africa
5673    Africa
5674    Africa
5675    Africa
5676    Africa
Name: Region, Length: 5677, dtype: object

In [23]:
carbondata.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Democratic Republic Of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic Of Congo', 'Romania', 'Russia',
       'Rwanda', 'Samoa', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts And Nevis', 'St. Lucia',
       'St. Vincent And The Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad And Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'UAE', 'Uganda',
       'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [24]:
carbondata.Region.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [25]:
carbondata.Country.value_counts()

Country
Afghanistan         30
Albania             30
Algeria             30
Andorra             30
Angola              30
                    ..
Micronesia          28
Marshall Islands    28
Mali                28
Palau               28
Timor-Leste         18
Name: count, Length: 190, dtype: int64

In [26]:
carbondata.Region.value_counts()

Region
Africa      1585
Asia        1398
Europe      1230
Americas    1050
Oceania      414
Name: count, dtype: int64

In [27]:
carbondata.Region.value_counts(normalize=True)

Region
Africa      0.279197
Asia        0.246257
Europe      0.216664
Americas    0.184957
Oceania     0.072926
Name: proportion, dtype: float64

In [1]:
carbondata.Region.value_counts(normalize=True) * 100

NameError: name 'carbondata' is not defined